@import url(https://fonts.googleapis.com/css?family=Signika+Negative:400,600);

*{
	margin:0;
	padding: 0;
}

body{
  font-family: 'Signika Negative', sans-serif;
  background-image: url(../img/bodybg1.jpg);
  padding-bottom: 70px;
}

.carousel {
    /*position: relative;*/
    border-left: 2px solid #d9d9d9;
    border-right: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
    box-shadow: 0px 0px 20px #797979;
}
/*menu fixed top scroll*/
.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;

}

#banner {
  height: 100px;
  overflow: hidden;
}
/*menufixed end*/

/*menustart*/
nav {
  width: 100%;
  display: block;
  background-color:#357BC1;
  margin-bottom: -11px;
}
.navigation{
  border-top: 2px solid #2B639B;
}
/*a#homer { 
  color:#D7DF25; 
}*/

.menu { display: block; }

.menu li {
  display: inline-block;
  position: relative;
  z-index: 100;
}


.menu li:first-child { margin-left: 0; }

.menu li a {
  /*font-weight: 600;*/
  font-size: 14px;
  text-decoration: none;
  padding: 20px 15px;
  display: block;
  color: #fff;
  transition: all 0.2s ease-in-out 0s;

}

.menu li a:hover,
.menu li:hover>a {
  /*color: #D7DF25;*/
  /*background: #FC6D58;*/
}

.menu ul {
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  width: 170px;
  position: absolute;
  left: 0px;
  background: #fff;
  z-index: 99;
  transform: translate(0, 20px);
  transition: all 0.2s ease-out;
}

.menu ul:after {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 6px;
  margin-left: -6px;
}

.menu ul li {
  display: block;
  float: none;
  background: none;
  margin: 0;
  padding: 0;
}

.menu ul li a {
  font-size: 12px;
  font-weight: normal;
  display: block;
  color: #797979;
  background: #fff;
}

.menu ul li a:hover,
.menu ul li:hover>a {
  background: #F6F8F7;
  color: #333;
}

.menu li:hover>ul {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.menu ul ul {
  left: 169px;
  top: 0px;
  visibility: hidden;
  opacity: 0;
  transform: translate(20px, 20px);
  transition: all 0.2s ease-out;
}

.menu ul ul:after {
  left: -6px;
  top: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 6px;
  margin-top: -6px;
}

.menu li>ul ul:hover {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.responsive-menu {
  display: none;
  width: 100%;
  padding: 20px 15px;
  background:#357BC1;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.responsive-menu:hover {
  background: #000;
  color: #fff;
  text-decoration: none;
}
ul.sub-menu i{
  color: #A72031;
}
ul.sub-menu a{
  padding: 8px 20px;
  font-size: 14px;
  text-transform: uppercase;
}

 
 @media (min-width: 768px) and (max-width: 979px) {

.mainWrap { width: 768px; }

.menu ul { top: 37px; }

.menu li a { font-size: 12px; }

a.homer { background: #E95546; }
}
 @media (max-width: 767px) {

.mainWrap {
  width: auto;
  padding: 50px 20px;
}

.menu { display: none; }

.responsive-menu { display: block; }

nav {
  margin: 0;
  background: none;
}

.menu li {
  display: block;
  margin: 0;
}

.menu li a {
  background: #fff;
  color: #797979;
}

.menu li a:hover,
.menu li:hover>a {
  background: #000;
  color: #fff;
}

.menu ul {
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transform: initial;
}

.menu li:hover>ul {
  visibility: visible;
  opacity: 1;
  position: relative;
  transform: initial;
}

.menu ul ul {
  left: 0;
  transform: initial;
}

.menu li>ul ul:hover { transform: initial; }
}

/*end menu*/

#zero{
  font-size: 1.6em;
  color: #004489;
}
#bannertop{
  margin-top: 17px;
}

.headertop{
  border-top: 5px solid #66CCFF;
}

.link a{
  color: #000;
  font-weight: bold;
}
.account{
  text-transform: capitalize;
}

.call{
  color:#000;
  font-size:16px;
  text-transform: capitalize;
}

.shirts{
  margin-bottom: 10px;
}
.description p{
  color: #797979;
  text-align: center;
}
.blue
{
  color: #357BC1;
}
.black{
  color: #000;

}


/*social links*/
.scrollup{
      width:40px;
      height:40px;      
      text-indent:-9999px;
      /*opacity:0.3;*/
      position:fixed;
      bottom:50px;
      right:100px;
      display:none;     
      background: url('../img/icon_top.png') no-repeat;
}
.social{
      padding: 10px;
}
.social i{
    background-color: #80999F;
    border-radius: 100px;
    padding: 10px;
    width: 45px;
    height: 45px;
    text-align: center;
    color: #fff!important;
    margin-left: 6px;
}
.social i:hover{
  background-color: #000;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
}

.interior-img1{
  margin-top: 40px;
}
.newsletter{
  border:1px solid #d9d9d9;
  margin-top: 15px;
  padding: 10px;
}
input.mail{
    width: 357px;
    padding: 15px;
    border:1px solid #eee;
}
button.mailbtn.btn-Default {
    padding: 12px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius:5px;
    margin-top: 5px; 
}

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.welcome{
  padding: 18px 0 20px 70px;
  /*background-color: #fff;*/
}
.welborder{
  position: relative;
  padding: 20px 20px;
}
.welborder:after {
    content: '';
    width: 265px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    border-right: 3px solid;
    border-top: 3px solid;
    color: #dae6e9;
}
.welborder:before{
    content: '';
    width: 126px;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-left: 3px solid;
    border-bottom: 3px solid;
    color: #dae6e9;
}

.red,.charcaol,.grey{
  font-weight: bold;
  font-size: 1.7em;
  text-transform: uppercase;
}
.red{
  color: #EA2149;
}
.charcaol{
  color: #333;
}
.grey{
  color: #80999F;
}
.spacer{
  margin-top: 60px;
}
.footer{
  padding: 15px;
  border-top: 2px dotted #d9d9d9;
  border-bottom: 2px dotted #d9d9d9;
}
.footer ul{
  list-style: none;

}
.footer ul li{
  
}
.footer a{
  text-align: left;
  text-transform: capitalize;
  color: #797979;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -ms-transition: all 0.6s;
}
.footer a:hover{
  color: #BACACC;
  text-decoration: none;
  margin-left: 5px;
}
.widget{
  border-right: 2px dotted #d9d9d9;
}
.widget:last-child{
  border-right: none;
}

/*shadow*/
.slider{
  margin-top: 20px;
}

/*..news*/
#s7 div { 
  /*width: 270px; */
  height: 200px; 
  padding: 60px; 
  color: #333; 
  text-align: left; 
  font-size: 16px; 
  position: absolute;
}
#s7 p{
  width: 275px;
}
.news i{
  color: #F0AD4E;
}
