<include href="admin/_templates/header.html">

<div class="row">
    <div class="col-lg-12">
    	<h1 class="page-header">Edit Course</h1>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-offset-1 col-lg-10">
        <form role="form" class="form-horizontal" method="post" action="{{ @BASE,@ALIASES.admin_courses_add }}">
		    <div class="form-group form-group-lg">
		        <label class="col-sm-2 control-label">Name</label>
		        <div class="col-sm-10">
		        	<input type="text" name="name" class="form-control" value="{{ @DATA.name }}">
		        </div>
		    </div>
		    <div class="form-group form-group-lg">
		        <label class="col-sm-2 control-label">Display Name</label>
		        <div class="col-sm-10">
		        	<input type="text" name="display_name" class="form-control" value="{{ @DATA.display_name }}">
		        </div>
		    </div>
		    <div class="form-group form-group-lg">
		        <label class="col-sm-2 control-label">Duration</label>
		        <div class="col-sm-10">
		        	<input type="text" name="duration" class="form-control" value="{{ @DATA.duration }}">
		        </div>
		    </div>
		    <div class="form-group form-group-lg">
		        <label class="col-sm-2 control-label">Description (Optional)</label>
		        <div class="col-sm-10">
		        	<textarea name="description" class="form-control" rows="5">{{ @DATA.description }}</textarea>
		        </div>
		    </div>
		    <div class="form-group form-group-lg">
			    <div class="col-sm-10 col-sm-offset-2">
				    <button type="submit" class="btn btn-success btn-lg">Save</button>
				    <button type="reset" class="btn btn-primary btn-lg">Reset</button>
				</div>
			</div>
		</form>
	</div>
</div>

<include href="admin/_templates/footer.html">