      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- jQuery -->
  <script src="{{ @ASSETS.student }}/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{{ @ASSETS.student }}/js/bootstrap.min.js"></script>

  <!-- Morris Charts JavaScript -->
  <script src="{{ @ASSETS.student }}/js/plugins/morris/raphael.min.js"></script>
  <script src="{{ @ASSETS.student }}/js/plugins/morris/morris.min.js"></script>
  <script src="{{ @ASSETS.student }}/js/plugins/morris/morris-data.js"></script>

</body>

</html>
