        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{ @ASSETS.admin }}/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ @ASSETS.admin }}/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ @ASSETS.admin }}/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{{ @ASSETS.admin }}/vendor/raphael/raphael.min.js"></script>
    <script src="{{ @ASSETS.admin }}/vendor/morrisjs/morris.min.js"></script>
    <script src="{{ @ASSETS.admin }}/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ @ASSETS.admin }}/dist/js/sb-admin-2.js"></script>

</body>

</html>
