<include href="admin/_templates/beforeStylesheets.html">
<include href="admin/_templates/stylesheets.html">
<!-- <link rel="stylesheet" type="text/css" href="{{ @BASE,@ASSETS.admin }}/vendor/datatables/css/dataTables.bootstrap.min.css"> -->
<include href="admin/_templates/afterStylesheets.html">

<style type="text/css">
	.dz-light {
		font-family: inherit;
		font-size: 0.6em;
		color: rgb(200,200,200);
		font-weight: 100;
	}
</style>

<div class="row">
	<div class="col-lg-12">
		<span style="margin-top: 20px" class="dz-light pull-right">Developer: frappedev <a href="https://frappedev.com">https://frappedev.com</a></span>
		<h1 class="page-header">CMS / FrontEnd Editor<span class="dz-light">v0.7.9</span></h1>
	</div>
</div>
<br>
<!-- <div class="row">
	<div class="col-lg-12">
		<div id="cms-editor"></div>
	</div>
</div>
 -->
<div>
  <ul class="nav nav-tabs" role="tablist">

    <li><a title="Add New Page" href="{{ @BASE,@ALIASES.admin_cms_addPage }}" class="btn btn-success active"><i class="fa fa-plus"></i> Add New</a></li>
    <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">All</a></li>
    <li role="presentation"><a href="#active" aria-controls="active" role="tab" data-toggle="tab">Active</a></li>
    <li role="presentation"><a href="#de-active" aria-controls="de-active" role="tab" data-toggle="tab">De-Active</a></li>
    <li role="presentation"><a href="#deleted" aria-controls="deleted" role="tab" data-toggle="tab">Deleted</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="all">
      <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-all">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Alias</th>
                <th>Created At</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <repeat group="{{ @DATA }}" value="{{ @cmspage }}">
                <check if="{{ @cmspage.archived }}">
                    <false>
                        <tr>
                            <td><a title="Edit" href="{{@BASE}}{{ 'admin_cms_editPage', 'id='.@cmspage.id | alias }}"><i class="fa fa-pencil-square-o" style="font-size: 2em" aria-hidden="true"></i></a></td>
                            <td>{{ @cmspage.title }}</td>
                            <td>{{ @cmspage.alias}}</td>
                            <td>{{ @cmspage.created_at }}</td>
                            <td style="text-align: center">
                                <check if="{{ @cmspage.active }}">
                                    <true>
                                      <a href="{{@BASE}}{{ 'admin_cms_updatePage', 'field=active,value='.@cmspage.active.',id='.@cmspage.id | alias }}" class="btn btn-success btn-block">Active</a>
                                    </true>
                                    <false>
                                        <a href="{{@BASE}}{{ 'admin_cms_updatePage', 'field=active,value='.@cmspage.active.',id='.@cmspage.id | alias }}" class="btn btn-danger btn-block">De-Active</a>
                                    </false>
                                </check>
                            </td>
                            <td><a `title="Delete" href="{{@BASE}}{{ 'admin_cms_updatePage', 'field=archived,value='.@cmspage.archived.',id='.@cmspage.id | alias }}"><i title="Delete" class="fa fa-trash" style="font-size: 2em" aria-hidden="true"></i></a></td>
                        </tr>
                    </false>
                </check>
            </repeat>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="active">
      <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-active">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Alias</th>
                <th>Created At</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <repeat group="{{ @DATA }}" value="{{ @cmspage }}">
                <check if="{{ @cmspage.archived }}">
                    <false>
                        <check if="{{ @cmspage.active }}">
                            <true>
                                <tr>
                                    <td><a title="Edit" href="{{@BASE}}{{ 'admin_cms_editPage', 'id='.@cmspage.id | alias }}"><i class="fa fa-pencil-square-o" style="font-size: 2em" aria-hidden="true"></i></a></td>
                                    <td>{{ @cmspage.title }}</td>
                                    <td>{{ @cmspage.alias}}</td>
                                    <td>{{ @cmspage.created_at }}</td>
                                    <td style="text-align: center">
                                        <check if="{{ @cmspage.active }}">
                                            <true>
                                              <a href="{{@BASE}}{{ 'admin_cms_updatePage', 'field=active,value='.@cmspage.active.',id='.@cmspage.id | alias }}" class="btn btn-success btn-block">Active</a>
                                            </true>
                                            <false>
                                                <a href="{{@BASE}}{{ 'admin_cms_updatePage', 'field=active,value='.@cmspage.active.',id='.@cmspage.id | alias }}" class="btn btn-danger btn-block">De-Active</a>
                                            </false>
                                        </check>
                                    </td>
                                    <td><a `title="Delete" href="{{@BASE}}{{ 'admin_cms_updatePage', 'field=archived,value='.@cmspage.archived.',id='.@cmspage.id | alias }}"><i title="Delete" class="fa fa-trash" style="font-size: 2em" aria-hidden="true"></i></a></td>
                                </tr>
                            </true>
                        </check>
                    </false>
                </check>
            </repeat>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="de-active">
      <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-de-active">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Alias</th>
                <th>Created At</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <repeat group="{{ @DATA }}" value="{{ @cmspage }}">
                <check if="{{ @cmspage.archived }}">
                    <false>
                        <check if="{{ @cmspage.active }}">
                            <false>
                                <tr>
                                    <td><a title="Edit" href="{{@BASE}}{{ 'admin_cms_editPage', 'id='.@cmspage.id | alias }}"><i class="fa fa-pencil-square-o" style="font-size: 2em" aria-hidden="true"></i></a></td>
                                    <td>{{ @cmspage.title }}</td>
                                    <td>{{ @cmspage.alias}}</td>
                                    <td>{{ @cmspage.created_at }}</td>
                                    <td style="text-align: center">
                                        <check if="{{ @cmspage.active }}">
                                            <true>
                                              <a href="{{@BASE}}{{ 'admin_cms_updatePage', 'field=active,value='.@cmspage.active.',id='.@cmspage.id | alias }}" class="btn btn-success btn-block">Active</a>
                                            </true>
                                            <false>
                                                <a href="{{@BASE}}{{ 'admin_cms_updatePage', 'field=active,value='.@cmspage.active.',id='.@cmspage.id | alias }}" class="btn btn-danger btn-block">De-Active</a>
                                            </false>
                                        </check>
                                    </td>
                                    <td><a title="Delete" href="{{@BASE}}{{ 'admin_cms_updatePage', 'field=archived,value='.@cmspage.archived.',id='.@cmspage.id | alias }}"><i title="Delete" class="fa fa-trash" style="font-size: 2em" aria-hidden="true"></i></a></td>
                                </tr>
                            </false>
                        </check>
                    </false>
                </check>
            </repeat>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="deleted">
      <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-deleted">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Alias</th>
                <th>Created At</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <repeat group="{{ @DATA }}" value="{{ @cmspage }}">
                <check if="{{ @cmspage.archived }}">
                    <true>
                        <tr>
                            <td><a title="Restore" href="{{@BASE}}{{ 'admin_cms_updatePage', 'field=archived,value='.@cmspage.archived.',id='.@cmspage.id | alias }}"><i class="fa fa-mail-reply" style="font-size: 2em; color: #5CB85C;" aria-hidden="true"></i></a></td>
                            <td>{{ @cmspage.title }}</td>
                            <td>{{ @cmspage.alias }}</td>
                            <td>{{ @cmspage.created_at }}</td>
                            <td style="text-align: center">
                                <check if="{{ @cmspage.active }}">
                                    <true>
                                      <a href="{{@BASE}}{{ 'admin_cms_updatePage', 'field=active,value='.@cmspage.active.',id='.@cmspage.id | alias }}" class="btn btn-success btn-block">Active</a>
                                    </true>
                                    <false>
                                        <a href="{{@BASE}}{{ 'admin_cms_updatePage', 'field=active,value='.@cmspage.active.',id='.@cmspage.id | alias }}" class="btn btn-danger btn-block">De-Active</a>
                                    </false>
                                </check>
                            </td>
                            <td><a href="" class="text-danger" style="font-size: 2em;" title="Remove"><i class="fa fa-remove" aria-hidden="true"></i></a></td>
                        </tr>
                    </true>
                </check>
            </repeat>
        </tbody>
      </table>
    </div>
  </div>
</div>
<include href="admin/_templates/beforeScripts.html">
<include href="admin/_templates/scripts.html">

<script type="text/javascript">

$('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})

$('#myTabs a[href="#all"]').tab('show') // Select tab by name
$('#myTabs a:first').tab('show') // Select first tab
$('#myTabs a:last').tab('show') // Select last tab
$('#myTabs li:eq(2) a').tab('show') // Select third tab (0-indexed)

</script>

<!-- <script type="text/javascript" src="{{ @BASE,@ASSETS.admin }}/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ @BASE,@ASSETS.admin }}/vendor/datatables/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#dataTables-active').DataTable();
        $('#dataTables-de-active').DataTable();
        $('#dataTables-all').DataTable();
        $('#dataTables-deleted').DataTable();
    });
</script> -->

<include href="admin/_templates/afterScripts.html">
